<div class="min-h-screen bg-[#1F1E29] text-white pt-36 px-6">
  

  <h1 class="text-3xl font-bold mb-6 text-center text-[#1ED6B6]">Ranking dos Melhores Currículos</h1>

  <div *ngIf="isLoading" class="flex justify-center items-center h-40">
    <span class="animate-spin rounded-full h-10 w-10 border-4 border-[#1ED6B6] border-t-transparent"></span>
  </div>

  <div *ngIf="!isLoading" class="space-y-4 max-w-4xl mx-auto">
    <div
      *ngFor="let item of ranking; let i = index"
      class="bg-[#2A2938] p-4 rounded-xl shadow-md border-l-4 border-[#1ED6B6]"
    >
      <div class="flex justify-between items-center mb-2">
        <span class="text-xl font-semibold">
          #{{ i + 1 }} - {{ item.user.name }}
        </span>
        <span class="text-[#1ED6B6] font-bold text-lg">Nota: {{ item.grade }}</span>
      </div>
      <p class="text-sm text-gray-300 whitespace-pre-line">{{ item.geminiResponse }}</p>
    </div>
  </div>
</div>
