<nav class="bg-[#373643] py-2 px-4 flex justify-between items-center text-white shadow-md fixed top-0 w-full z-50">
  <div class="flex items-center">
    <img src="assets/VitaeF.png" alt="Logo" class="h-20 w-auto" />
  </div>
  <div class="space-x-6 font-semibold">
    <a
      routerLink="/ranking"
      routerLinkActive="text-[#1ED6B6]"
      class="hover:text-[#1ED6B6] transition-colors duration-200"
    >
      Ranking
    </a>
    <a
      routerLink="/upload-cv"
      routerLinkActive="text-[#1ED6B6]"
      class="hover:text-[#1ED6B6] transition-colors duration-200"
    >
      Avaliar Currículo
    </a>
    <a
      routerLink="/curriculos"
      routerLinkActive="text-[#1ED6B6]"
      class="hover:text-[#1ED6B6] transition-colors duration-200"
    >
      Meus Currículos
    </a>
  </div>
</nav>
